.rectangle{
    border: 2px solid #00E2EA;
    padding: 10px;
    box-shadow: 2px 1px 8px 3px #00E2EA;
}

.rectangle-mini{
    border: 2px solid #00E2EA;
    padding: 5px;
    box-shadow: 2px 1px 8px 3px #00E2EA;
}